[user]
  name = Ivan Kolmychek
  email = ivan.kolmychek@gmail.com
  signkey = C1698A16AB3FA9D23F2119A11E6B1623323B3EBE

[core]
	autocrlf = input
	safecrlf = warn
	editor = nvim
	excludesfile = ~/.gitignore
  pager = less -S

[pager]
#  diff = false
  branch = false

[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  root = !pwd
  wip = commit -m "wip"
  fixup = commit -m "fixup"
  ctags = !.git/hooks/ctags
  staged = diff --cached

[push]
  default = simple

[init]
  templatedir = ~/.git_template

[pull]
  ff = only

[merge]
	tool =meld
[diff]
	tool = vimdiff
[difftoo]
	prompt = false
[difftool]
	prompt = false
[commit]
  gpgsign = true

[status]
  showUntrackedFiles = all
  short = true
  branch = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
